@font-face {
  font-family: sora;
  src: "Sora", sans-serif;
}

@import url("./room/avatar.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomContainer {
  width: 100vw;
  height: 100vh;
}
