.mockup {
  width: 70vw;
  height: 84.5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px black;
}

.mockup img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img.project {
  position: absolute;
  top: 49%;
  left: 50%;
  z-index: 21;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 95.5%;
  object-fit: cover;
}

.desk-projects {
  position: absolute;
  top: 4%;
  left: 4%;
  z-index: 22;
  display: flex;
  gap: 40px;
}

.project-item {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 120px;
}

.project-item:hover {
  cursor: pointer;
}

.project-item img {
  position: relative;
  width: 100%;
  height: 80%;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  box-shadow: none;
}

.project-item p {
  margin: 5px 0 0 0;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  z-index: 255;
}

.var {
  width: 98.5%;
  height: 36px;
  position: absolute;
  bottom: 32px;
  left: 1%;
  z-index: 25;
}

.var img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.openProject {
  position: absolute;
  top: 49%;
  left: 50%;
  z-index: 23;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 95.5%;
  overflow: hidden;
  object-fit: cover;
}

.browser {
  width: 98%;
  height: 92%;
  position: absolute;
  top: 1.5%;
  left: 1%;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  z-index: 30;
  background: #fcfcfc;
}

.browser-bar {
  height: 40px;
  background: #3b3b3b;
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  justify-content: space-between;
}

.browser-bar img {
  width: 32px;
  height: 32px;
  position: relative;
}

.browser-bar input {
  width: 90%;
  border: none;
  padding: .5rem 2rem;
  background: #4e4e4e;
  border-radius: 12px;
}

.close-btn {
  background: #ff5f57;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
}

.close-btn:hover {
  background: #ff3b30;
  cursor: pointer;
}

.exitPC {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: white;
  font-family: sans-serif;
  z-index: 255;
  font-size: 2rem;
}

.exitPC span {
  background: rgba(0, 0, 0, 0.7);
  padding: 4px 8px;
  border-radius: 4px;
}